services:
  app:
    build:
      dockerfile: Dockerfile
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=development
      - FLASK_DEBUG=1
    ports:
      - "5000:5000"
    volumes:
      - ./src:/app
    command: flask run --host=0.0.0.0 --port=5000