services:
  dev-app:
    build:
      dockerfile: Dockerfile
    environment:
      - FLASK_ENV=development
      - FLASK_DEBUG=1
    ports:
      - "5000:5000"
    volumes:
      - ./src:/app/src
    command: flask run --host=0.0.0.0 --port=5000
    depends_on:
      - dev-db

  dev-db:
    image: postgres:15
    environment:
      - POSTGRES_DB=ppp_example_python_dev
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: