name: CI/CD

on:
  push:
    branches:
      - master

jobs:
  call-deploy:
    uses: rwheadon-project-platform/ppp-workflows/.github/workflows/deploy.yaml@main
    with:
      service_name: ppp-example-python

