name: CI/CD

on:
  push:
    branches:
      - main

jobs:
  call-deploy:
    uses: rwheadon-project-platform/ppp-workflows/.github/workflows/deploy.yaml@main
    with:
      service_name: ppp-example-python
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      SSH_PORT: ${{ secrets.SSH_PORT }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      TAILSCALE_API_KEY: ${{ secrets.TAILSCALE_API_KEY }}
      TAILSCALE_AUTH_KEY: ${{ secrets.TAILSCALE_AUTH_KEY }}
      TAILSCALE_HOST: ${{ secrets.TAILSCALE_HOST }}

