name: CI/CD

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Tests
        run: ./scripts/test.sh

      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build and Push Docker image
        run: ./scripts/build.sh ${{ secrets.DOCKERHUB_USERNAME }}

      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          username: deploy
          host: ${{ secrets.SSH_HOST }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd /home/deploy/ppp-example-python/
            git pull origin master
            ./scripts/deploy.sh
